/*Regular*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
/*Bold Italic*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
/*Italic*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
/*Light*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
/*Light Italic*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
/*Medium*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
/*Medium Italic*/
@font-face {
  font-family: 'FiraSans';
  src: url('../../fonts/FiraSans/FiraSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
/*Font Awesome*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/FontAwesome/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}
