$font-size: 15px;
$font-family: 'FiraSans';
$font-awesome-size: 14px;
$primary-font-color-light: #9f9f9f;
$primary-font-color-dark: #4f4f4f;
$secondary-font-color: #ffffff;
$primary-light: #f0f0f0;
$primary-dark: #c4c4c4;
$secondary: #ff8663;
