<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="//yastatic.net/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div id="map" class="map"></div>
</div>
</body>
</html>
