<div class="cluster">
    <div class="cluster__place"> $[properties.place] </div>
    <a id="open-address-comments" class="cluster__address" href="#">$[properties.address]</a>
    <div class="cluster__text">$[properties.text]</div>
    <div class="cluster__date">$[properties.date]</div>
</div>
